@charset "UTF-8";
/*!
  * ress.css • v1.2.2
  * MIT License
  * github.com/filipelinhares/ress
  */
/* # =================================================================
    # Global selectors
    # ================================================================= */
html {
  box-sizing: border-box;
  overflow-y: scroll;
  /* All browsers without overlaying scrollbars */
  -webkit-text-size-adjust: 100%;
  /* iOS 8+ */
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

/* Remove margin, padding of all elements and set background-no-repeat as default */
* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
    # General elements
    # ================================================================= */
/* Add the correct display in iOS 4-7.*/
audio:not([controls]) {
  display: none;
  height: 0;
}

hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
}

/*
  * Correct `block` display not defined for any HTML5 element in IE 8/9
  * Correct `block` display not defined for `details` or `summary` in IE 10/11
  * and Firefox
  * Correct `block` display not defined for `main` in IE 11
  */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden],
template {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: 1px dotted;
  /* Add a bordered underline effect in all browsers */
  text-decoration: none;
  /* Remove text decoration in Firefox 40+ */
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
  -webkit-text-decoration-skip: objects;
  /* Remove gaps in links underline in iOS 8+ and Safari 8+ */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

b,
strong {
  font-weight: bolder;
  /* Correct style set to `bold` in Edge 12+, Safari 6.2+, and Chrome 18+ */
}

dfn {
  font-style: italic;
  /* Address styling not present in Safari and Chrome */
}

/* Address styling not present in IE 8/9 */
mark {
  background-color: #ff0;
  color: #000;
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
    # Forms
    # ================================================================= */
input {
  border-radius: 0;
}

/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type="number"] {
  width: auto;
  /* Firefox 36+ */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Safari 8+ */
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Safari 8 */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule. */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: 0;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS and Safari */
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

/* # =================================================================
    # Specify media element style
    # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

svg:not(:root) {
  overflow: hidden;
  /* Internet Explorer 11- */
}

audio,
canvas,
progress,
video {
  display: inline-block;
  /* Internet Explorer 11+, Windows Phone 8.1+ */
}

/* # =================================================================
    # Accessibility
    # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

/* # =================================================================
    # Selection
    # ================================================================= */
/* Specify text selection background color and omit drop shadow */

::selection {
  background-color: #b3d4fc;
  /* Required when declaring ::selection */
  color: #000;
  text-shadow: none;
}

/* フォント設定 */
/* ===============================================
# フォント
=============================================== */
html {
  font-size: 62.5%;
}

body {
  font-size: 1rem;
  font-family: "メイリオ", sans-serif, "M PLUS 1p";
  background-color: #ffffff;
}

/* ===============================================*/
/* #  ベース
/*=============================================== */
a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

ul {
  list-style: none;
}

.l-container {
  max-width: 1640px;
  margin: 0 auto;
}

.btn:hover {
  opacity: .5;
}

.footer {
  position: relative;
}

.copyright {
  padding: 36px 0;
  text-align: center;
}

.footer__logo {
  display: inline-block;
  position: absolute;
  top: 43%;
  left: 10%;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #0A3355;
}

.copyright {
  font-size: 2.4rem;
  line-height: 1.20833;
  letter-spacing: 0em;
  color: #707070;
}

/* --------------------------------------
レスポンシブ min-width: 1024px; 
----------------------------------------*/
@media screen and (min-width: 1024px) {
  .copyright {
    font-size: 2.2rem;
    line-height: 1.09091;
    letter-spacing: 0em;
  }
  .copyright {
    padding: 26px 0;
    text-align: center;
  }
  .footer__logo {
    position: absolute;
    left: 6%;
  }
}

.header__wrapper {
  background-color: #ffffff;
  width: 100%;
  position: absolute;
  z-index: 2;
}

.header__wrapper.sticky {
  position: fixed;
  top: 0;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}

.header__logo {
  margin-left: 2vw;
  padding-left: 1vw;
  color: #0A3355;
}

.header__nav {
  display: none;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__item {
  margin-left: 36px;
  padding-bottom: 10px;
}

.header__item > a {
  color: #707070;
}

.header__item :hover {
  opacity: .5;
  border-bottom: 7px solid #40ACE2;
}

.header__logo {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: 0em;
}

.header__item {
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1.1875;
  letter-spacing: 0em;
}

.c-button {
  display: block;
}

.u-visuallyHidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.c-button {
  position: relative;
  display: inline-block;
  text-decoration: none;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.p-hamburger {
  /* poitionは必要なら使う */
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #707070;
  box-shadow: 0 0 2rem transparent;
  outline: none;
  transition: all .3s ease-in-out;
  margin-right: 3vw;
}

.p-hamburger:hover,
.p-hamburger:focus {
  box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.5);
}

.p-hamburger__line {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  /* 親要素に対してど真ん中に配置 */
  width: 18px;
  /* お肉の幅 */
  height: 2px;
  /* お肉の高さ */
  background-color: #707070;
  transition: inherit;
}

.p-hamburger__line::before,
.p-hamburger__line::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  transition: inherit;
}

.p-hamburger__line::before {
  top: -5px;
}

.p-hamburger__line::after {
  top: 5px;
}

.p-drawer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: translateX(100%);
  transition: transform .3s ease-in-out;
}

.p-hamburger[aria-expanded="true"] .p-hamburger__line {
  background-color: transparent;
}

.is-drawerActive .p-drawer {
  transform: translateX(0);
}

.p-hamburger[aria-expanded="true"] .p-hamburger__line::before,
.p-hamburger[aria-expanded="true"] .p-hamburger__line::after {
  top: 0;
  background-color: #f9d8ae;
}

.p-hamburger[aria-expanded="true"] .p-hamburger__line::before {
  transform: rotate(45deg);
}

.p-hamburger[aria-expanded="true"] .p-hamburger__line::after {
  transform: rotate(-45deg);
}

/* --------------------------------------
レスポンシブ max-width: 1024px; 
----------------------------------------*/
@media screen and (min-width: 1024px) {
  .header__nav {
    display: block;
  }
  .c-button {
    display: none;
  }
  .header__list {
    margin-right: 2vw;
  }
  .header__item {
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 1.27273;
    letter-spacing: 0em;
  }
}

.l-section__wrapper {
  padding: 50px 0;
}

.section__title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section__title {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2;
  letter-spacing: 0em;
  color: #707070;
}

/* --------------------------------------
レスポンシブ min-width: 1020px; 
----------------------------------------*/
@media screen and (min-width: 1024px) {
  .l-section__wrapper {
    padding: 120px 0;
  }
  .section__title {
    font-size: 4.2rem;
    font-weight: bold;
    line-height: 1.14286;
    letter-spacing: 0em;
  }
}

/* --------------------------------------
レスポンシブ min-width: 1440px; 
----------------------------------------*/
@media screen and (min-width: 1440px) {
  .section__title {
    font-size: 5.6rem;
    font-weight: bold;
    line-height: 1.03571;
    letter-spacing: 0em;
    color: #707070;
  }
}

#page_top {
  display: none;
  width: 82px;
  height: 82px;
  position: fixed;
  right: 5%;
  bottom: 15%;
  background: #fff;
  border-radius: 50%;
}

#page_top a {
  position: relative;
  display: block;
  bottom: 0;
  text-decoration: none;
  color: #707070;
}

#page_top a::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f106';
  font-size: 5rem;
  color: #707070;
  position: absolute;
  top: 10px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

#page_top a::after {
  content: 'TOP';
  font-size: 1.8rem;
  color: #707070;
  position: absolute;
  top: 90px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

.l-mv-wrapper {
  width: 100%;
  height: 560px;
  background: url(/img/mv.jpg);
  z-index: 1;
  background-size: cover;
  background-position: 50% 0%;
  object-fit: cover;
  margin-left: auto;
}

.mv__bg {
  position: relative;
  background-color: #0A3355;
}

.main__mv__text {
  background-color: #ffffff;
  display: inline-block;
}

.mv__text__catch {
  position: absolute;
  top: 25%;
  left: 2vw;
  padding: 5px 10px;
  z-index: 1;
}

.mv__text__school {
  position: absolute;
  top: 36%;
  left: 2vw;
  z-index: 1;
  padding: 5px 10px;
}

.mv__text__logo {
  position: absolute;
  top: 45%;
  left: 2vw;
  z-index: 1;
  padding: 5px 10px;
}

.btn__mv {
  position: absolute;
  bottom: 35%;
  left: 2vw;
  border-radius: 60px;
  z-index: 1;
}

.btn__mv > a {
  background-color: #FFE669;
  color: #707070;
  padding: 15px 31px;
  border-radius: 100px;
}

.main__mv__text {
  color: #707070;
}

.mv__text__logo {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.11111;
  letter-spacing: 0em;
}

.mv__text__school {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.33333;
  letter-spacing: 0em;
}

.mv__text__catch {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0em;
}

.btn__mv > a {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.11111;
  letter-spacing: 0em;
}

/* --------------------------------------
レスポンシブ max-width: 600px; 
----------------------------------------*/
@media screen and (min-width: 600px) {
  .l-mv-wrapper {
    height: 70vh;
  }
  .mv__text__catch {
    position: absolute;
    top: 18%;
    left: 5%;
    z-index: 1;
  }
  .mv__text__school {
    position: absolute;
    top: 30%;
    left: 5%;
    z-index: 1;
  }
  .mv__text__logo {
    position: absolute;
    top: 40%;
    left: 5%;
    z-index: 1;
  }
  .btn__mv {
    position: absolute;
    bottom: 40%;
    background-color: #FFE669;
    color: #707070;
    border-radius: 100px;
  }
  .mv__text__school {
    font-size: 3.4rem;
    font-weight: bold;
    line-height: 1.23529;
    letter-spacing: 0em;
  }
  .mv__text__catch {
    font-size: 3.6rem;
    font-weight: 0;
    line-height: 5 bold/3.6;
  }
  .mv__text__logo {
    font-size: 3.8rem;
    font-weight: bold;
    line-height: 1.57895;
    letter-spacing: 0em;
  }
  .btn__mv > a {
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 1.65625;
    letter-spacing: 0em;
  }
}

/* --------------------------------------
レスポンシブ max-width: 1024px; 
----------------------------------------*/
@media screen and (min-width: 1024px) {
  .l-mv-wrapper {
    width: 66.5%;
  }
  .mv__text__catch {
    position: absolute;
    top: 25%;
    left: 5%;
    z-index: 1;
  }
  .mv__text__school {
    position: absolute;
    top: 43%;
    left: 5%;
    z-index: 1;
  }
  .mv__text__logo {
    position: absolute;
    top: 58%;
    left: 5%;
    z-index: 1;
  }
  .btn__mv {
    position: absolute;
    bottom: 15%;
    background-color: #FFE669;
    color: #707070;
    border-radius: 100px;
  }
  .mv__text__logo {
    font-size: 3.8rem;
    font-weight: bold;
    line-height: 1.36842;
    letter-spacing: 0em;
  }
  .mv__text__school {
    font-size: 3.8rem;
    font-weight: bold;
    line-height: 1.36842;
    letter-spacing: 0em;
  }
  .mv__text__catch {
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0em;
  }
  .btn__mv > a {
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 1.95455;
    letter-spacing: 0em;
  }
}

/* --------------------------------------
レスポンシブ max-width: 1920px; 
----------------------------------------*/
@media screen and (min-width: 1920px) {
  .l-mv-wrapper {
    width: 66.5%;
    height: 980px;
    background: url(/img/mv.jpg);
    z-index: 1;
    background-size: cover;
    background-position: 100% 0%;
    margin-left: auto;
  }
  .mv__bg {
    position: relative;
    background-color: #0A3355;
  }
  .main__mv__text {
    background-color: #ffffff;
    display: inline-block;
  }
  .mv__text__catch {
    position: absolute;
    top: 18%;
    left: 5%;
    padding: 7px 15px;
    z-index: 1;
  }
  .mv__text__school {
    position: absolute;
    top: 35%;
    left: 5%;
    z-index: 1;
    padding: 5px 20px;
  }
  .mv__text__logo {
    position: absolute;
    top: 50%;
    left: 5%;
    z-index: 1;
    padding: 15px 28px;
  }
  .btn__mv {
    position: absolute;
    bottom: 17%;
    left: 5%;
    padding: 40px 30px;
    border-radius: 60px;
    z-index: 1;
  }
  .btn__mv > a {
    background-color: #FFE669;
    color: #707070;
    padding: 38px 31px;
    border-radius: 100px;
  }
  .main__mv__text {
    color: #707070;
  }
  .mv__text__school {
    font-size: 6rem;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0em;
    color: #707070;
  }
  .mv__text__logo {
    font-size: 7.7rem;
    font-weight: bold;
    line-height: 1.03896;
    letter-spacing: 0em;
    color: #707070;
  }
  .mv__text__catch {
    font-size: 4.8rem;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0em;
  }
  .btn__mv > a {
    font-size: 4.2rem;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0em;
  }
}

.service__relative {
  position: relative;
}

.service__catch {
  width: 310px;
  margin: 0 auto;
  text-align: center;
  margin-top: 15px;
  color: #707070;
}

.service__img {
  width: 270px;
  box-shadow: 18px 24px 6px #00000016;
}

.service__img > img {
  object-fit: cover;
  object-position: 50%;
}

.section__title::before,
.section__title::after {
  border-top: 4px solid #707070;
  content: "";
  width: 40px;
}

.section__title::before {
  margin-right: 30px;
}

.section__title::after {
  margin-left: 30px;
}

.service__inner {
  padding: 30px 0 30px;
}

.service__course {
  max-width: 310px;
  margin: 0 auto;
  padding: 30px 5% 30px;
  border: 1px solid #4DADED;
}

.reverse__text {
  margin-left: auto;
}

.service__title__wrapper {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 5% 0 0 11%;
  border-bottom: 1px solid #707070;
}

.service__num {
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.service__title {
  align-items: flex-end;
}

.service__sub__title {
  width: 90%;
  margin-top: 3%;
  padding-left: 2vw;
}

.service__text {
  margin-top: 14px;
  padding-left: 2vw;
}

.btn__section {
  margin: 25px;
}

.btn__section > a {
  display: block;
  text-align: center;
  width: 60vw;
  padding: 2vw 0;
  border-radius: 50px;
  background-color: #FFE669;
  box-shadow: 6px 8px 6px #00000017;
  margin: 0 15% 0 auto;
}

.service__line {
  max-width: 260px;
  height: 30px;
  margin-top: 60px;
  background: linear-gradient(to left, #C1E3F9, #63A1FF);
}

.line__reverse {
  margin-left: auto;
  background: linear-gradient(to right, #C1E3F9, #63A1FF);
}

.btn__course {
  text-align: center;
}

.btn__course > a {
  display: inline-block;
  width: 260px;
  padding: 20px 0;
  border: 1px solid #707070;
  border-radius: 60px;
  color: #707070;
}

/* service ページ */
.l-service__wrapper {
  background-color: #F7FBFE;
  padding-bottom: 96px 0 30px;
}

.l-service__inner {
  background-color: #ffffff;
  margin-bottom: 100px;
  padding: 50px 0;
}

.l-service__content {
  display: flex;
  align-items: center;
}

.l-service__sub-content {
  padding: 0 60px;
}

.page__map {
  margin: 32px 0 32px 25px;
}

.service__item {
  max-width: 640px;
  margin-left: 60px;
}

.service__content__title,
.service__content__sub-title {
  display: inline-block;
  padding-bottom: 10px;
}

.service__content__title {
  border-bottom: 4px solid #4DADED;
  margin-bottom: 48px;
}

.service__img {
  width: 270px;
  height: 175px;
  object-fit: cover;
  margin: 0 5% 0 auto;
}

.service__content__sub-title {
  border-bottom: 1px solid #4DADED;
  margin-bottom: 24px;
}

.service__content__text {
  margin-bottom: 52px;
  text-align: justify;
}

.btn__service {
  text-align: center;
}

.btn__service > a {
  display: inline-block;
  width: 35%;
  padding: 10px 0;
  border-radius: 100px;
  color: #707070;
  background-color: #FFE669;
}

.page__map {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0em;
  color: #707070;
}

.btn {
  font-size: 1.8rem;
  line-height: 1.66667;
  letter-spacing: 0em;
}

.btn .btn > a {
  color: #707070;
}

.btn__section > a {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 0em;
  color: #707070;
}

.service__catch {
  font-size: 1.4rem;
  line-height: 1.78571;
  letter-spacing: 0.03em;
}

.service__num {
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0em;
  color: #006EFF;
  opacity: 16%;
}

.service__title {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2;
  letter-spacing: 0em;
  color: #4DADED;
}

.service__sub__title,
.service__content__sub-title {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.55556;
  letter-spacing: 0em;
  color: #707070;
}

.service__text,
.service__content__text {
  font-size: 1.6rem;
  line-height: 1.5625;
  letter-spacing: 0em;
  color: #707070;
}

.service__content__title {
  font-size: 4.8rem;
  line-height: 1.20833;
  letter-spacing: 0em;
  color: #707070;
}

/* --------------------------------------
レスポンシブ min-width: 1024px; 
----------------------------------------*/
@media screen and (min-width: 1024px) {
  .section__catch__wrapper {
    padding-bottom: 0px;
  }
  .service__course {
    max-width: 80%;
  }
  .service__title__wrapper {
    width: 80%;
    padding: 10% 0 0 12%;
  }
  .service__img {
    position: absolute;
    right: -20%;
    bottom: -17%;
    z-index: 0;
    width: 327px;
    height: 426px;
    margin: 0;
  }
  .reverse__text {
    width: 80%;
  }
  .absolute__reverse {
    position: absolute;
    left: -22%;
    bottom: -20%;
    z-index: 0;
  }
  .service__line {
    max-width: 50%;
    height: 65px;
    margin-top: 35px;
  }
  .btn__course > a {
    width: 650px;
    padding: 25px 0;
    font-size: 32px;
  }
  .service__catch {
    font-size: 2.4rem;
    line-height: 2.08333;
    letter-spacing: 0.03em;
  }
  .service__num {
    font-size: 8.2rem;
    font-weight: bold;
    line-height: 1.63415;
    letter-spacing: 0em;
  }
  .service__title {
    font-size: 3.6rem;
    font-weight: bold;
    line-height: 1.58333;
    letter-spacing: 0em;
  }
  .service__sub__title,
  .service__content__sub-title {
    font-size: 2.6rem;
    font-weight: bold;
    line-height: 1.38462;
    letter-spacing: 0em;
    color: #707070;
  }
  .service__text,
  .service__content__text {
    font-size: 2.1rem;
    line-height: 1.61905;
    letter-spacing: 0em;
    color: #707070;
  }
  .service__content__title {
    font-size: 3.8rem;
    line-height: 1.26316;
    letter-spacing: 0em;
    color: #707070;
  }
  .btn__section {
    margin-top: 25px;
  }
  .btn__section > a {
    padding: 1vw 1.5vw;
    margin: 0 auto;
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 1.81818;
    letter-spacing: 0em;
  }
}

/* --------------------------------------
レスポンシブ min-width: 1440px; 
----------------------------------------*/
@media screen and (min-width: 1440px) {
  .service__course {
    max-width: 960px;
  }
  .servie__img {
    position: absolute;
    right: -35%;
    bottom: -10%;
    z-index: 0;
    width: 427px;
    height: 526px;
  }
  .service__title__wrapper {
    padding: 9% 0 0 13%;
  }
  .service__line {
    max-width: 700px;
  }
  .btn__section > a {
    margin: 0 auto;
  }
  .btn__section > a {
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 1.27273;
    letter-spacing: 0em;
  }
  .service__catch {
    font-size: 2.8rem;
    line-height: 1.96429;
    letter-spacing: 0.03em;
  }
  .service__num {
    font-size: 9.8rem;
    font-weight: bold;
    line-height: 1.16327;
    letter-spacing: 0em;
  }
  .service__title {
    font-size: 4.6rem;
    font-weight: bold;
    line-height: 1.02174;
    letter-spacing: 0em;
  }
  .service__sub__title,
  .service__content__sub-title {
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 1.1875;
    letter-spacing: 0em;
  }
  .service__text,
  .service__content__text {
    font-size: 2.8rem;
    line-height: 1.60714;
    letter-spacing: 0em;
  }
  .service__content__title {
    font-size: 3.8rem;
    line-height: 1.26316;
    letter-spacing: 0em;
  }
  .btn__service > a {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.66667;
    letter-spacing: 0em;
  }
}

/* --------------------------------------
レスポンシブ min-width: 1920px; 
----------------------------------------*/
@media screen and (min-width: 1920px) {
  .service__relative {
    position: relative;
  }
  .service__catch {
    width: 310px;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
    color: #707070;
  }
  .section__title::before,
  .section__title::after {
    border-top: 4px solid #707070;
    content: "";
    width: 90px;
  }
  .section__title::before {
    margin-right: 60px;
  }
  .section__title::after {
    margin-left: 60px;
  }
  .service__inner {
    max-width: 1685px;
    padding: 72px 0 50px;
  }
  .service__course {
    max-width: 1320px;
    padding: 75px 5% 53px;
    border: 1px solid #4DADED;
  }
  .reverse {
    margin-left: auto;
    margin-right: 0;
  }
  .service__course {
    max-width: 1320px;
    padding: 75px 5% 53px;
    border: 1px solid #4DADED;
  }
  .service__num {
    font-size: 11.2rem;
    font-weight: bold;
    line-height: 1.19643;
    letter-spacing: 0em;
    color: #006EFF;
    opacity: 16%;
  }
  .service__title__wrapper {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 90%;
    padding: 5% 0 0 11%;
    border-bottom: 1px solid #707070;
  }
  .service__sub__title {
    width: 90%;
    margin-top: 34.5px;
    padding-left: 2vw;
  }
  .service__text {
    width: 90%;
    margin-top: 28px;
    padding-left: 2vw;
  }
  .service__item {
    max-width: 300px;
  }
  .service__img {
    position: absolute;
    right: -30%;
    bottom: -30%;
    z-index: 0;
    width: 40%;
    box-shadow: 18px 24px 6px #00000016;
  }
  .service__img > img {
    object-fit: cover;
    object-position: 50%;
  }
  .service__img {
    width: 800px;
    height: 475px;
    object-fit: cover;
    margin: 0 5% 0 auto;
  }
  .absolute__reverse {
    position: absolute;
    left: -30%;
    bottom: -30%;
    z-index: 0;
  }
  .btn__section {
    margin-top: 25px;
  }
  .btn__section > a {
    display: block;
    text-align: center;
    width: 20vw;
    padding: 2vw 0;
    border-radius: 50px;
    background-color: #FFE669;
    box-shadow: 6px 8px 6px #00000017;
    margin: 0 15% 0 auto;
  }
  .service__line {
    max-width: 960px;
    height: 80px;
    margin-top: 63px;
    background: linear-gradient(to left, #C1E3F9, #63A1FF);
  }
  .line__reverse {
    margin-left: auto;
    background: linear-gradient(to right, #C1E3F9, #63A1FF);
  }
  .btn__course {
    text-align: center;
    margin-top: 110px;
  }
  .btn__course > a {
    display: inline-block;
    width: 900px;
    padding: 35px 0;
    border: 1px solid #707070;
    border-radius: 60px;
    color: #707070;
  }
  .service__sub__title,
  .service__content__sub-title {
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 0em;
    color: #707070;
  }
  .service__text,
  .service__content__text {
    font-size: 3.2rem;
    line-height: 1.71875;
    letter-spacing: 0em;
    color: #707070;
  }
  .btn__section > a {
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 1.1875;
    letter-spacing: 0em;
    color: #707070;
  }
}

.l-work__wrapper {
  padding: 50px 0 0;
  background-color: #F7FBFE;
}

.work__catch {
  padding: 0 2vw;
  margin-bottom: 30px;
}

.work__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 150px 0 70px;
}

.work__content {
  width: 310px;
  margin: 20px auto 0;
}

.work__img {
  max-width: 300px;
  height: auto;
  margin: 0 auto;
}

.work__text {
  margin-top: 10px;
}

.work__point {
  position: absolute;
  top: 1%;
  left: 30%;
}

.balloon1 {
  position: relative;
  padding: 20px;
  border-radius: 50%;
  text-align: center;
  background-color: #FFE669;
}

.balloon1::before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 35%;
  bottom: -45px;
  border-right: 40px solid #FFE669;
  border-top: 45px solid transparent;
  border-bottom: 45px solid transparent;
  transform: rotate(-90deg);
}

.work__point__text {
  display: block;
}

.teacher__wrapper {
  background-color: #ffffff;
  box-shadow: 0 3px 20px #00000016;
  padding: 50px 0 50px;
  margin-bottom: 45px;
}

.teacher__text {
  text-align: center;
  padding: 50px 0;
}

.teacher__img {
  position: absolute;
  top: -30px;
  left: 10px;
  width: 270px;
  height: auto;
  object-fit: cover;
  margin: 0 auto;
}

.teacher__prof {
  position: absolute;
  bottom: 15%;
  left: 10%;
  text-align: center;
}

.teacher__container {
  display: flex;
  flex-direction: column;
}

.teacher__card {
  position: relative;
  background-color: #F7FBFE;
  box-shadow: 0 0 12px #00000016;
  width: 290px;
  margin: 40px auto 30px;
  height: 470px;
}

.teacher__name {
  margin-top: 10px;
  text-align: center;
}

.teacher__content {
  text-align: center;
  padding: 25px 0;
}

.experience__inner {
  position: relative;
  background-color: #4DADED;
  padding: 25px 0 45px;
}

.experience__inner:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -30px;
  left: 0;
  width: 0px;
  height: 0px;
  margin: auto;
  border-style: solid;
  border-color: #4DADED transparent transparent transparent;
  border-width: 60px 100px 0 100px;
}

.experience__title {
  text-align: center;
  margin-bottom: 20px;
}

.experience__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 9vw;
}

.experience__check {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.check__margin {
  margin: 10px 0;
}

.experience__btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.experience__text {
  text-align: center;
  margin-bottom: 9px;
}

.btn__experience {
  text-align: center;
  width: 270px;
  background-color: #FFE669;
  border-radius: 50px;
}

.btn__experience > a {
  padding: 15px 0;
  display: block;
}

.pattern {
  width: 20px;
  height: 20px;
  margin-right: 2vw;
}

.balloon1 {
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 1.11111;
  letter-spacing: 0em;
  color: #707070;
}

.work__catch {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0em;
}

.work__title {
  font-size: 1.9rem;
  font-weight: bold;
  line-height: 1.05263;
  letter-spacing: 0em;
  color: #4DADED;
}

.work__text {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0em;
  color: #707070;
}

.teacher__text,
.teacher__name {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.55556;
  letter-spacing: 0em;
  color: #707070;
}

.teacher__content {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.11111;
  letter-spacing: 0em;
  color: #707070;
}

.experience__title {
  font-size: 2.6rem;
  font-weight: bold;
  line-height: 1.80769;
  letter-spacing: 0em;
  color: #ffffff;
}

.check__item {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0em;
  color: #ffffff;
}

.experience__text {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0em;
  color: #ffffff;
}

.btn__experience > a {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.55556;
  letter-spacing: 0em;
  color: #707070;
}

/* --------------------------------------
  レスポンシブ min-width: 600px; 
  ----------------------------------------*/
/* --------------------------------------
  レスポンシブ min-width: 1020px; 
  ----------------------------------------*/
@media screen and (min-width: 1024px) {
  .work__inner {
    margin-bottom: 130px;
    max-width: 950px;
    margin: 0 auto 130px;
  }
  .work__text {
    margin-top: 45px;
  }
  .work__content {
    width: 55%;
  }
  .work__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 75px 0;
  }
  .work__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 75px 0;
  }
  .balloon1::before {
    position: absolute;
    display: block;
    left: 33%;
    bottom: -34px;
    border-right: 30px solid #FFE669;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
  }
  .work__point {
    position: absolute;
    top: 2%;
    left: 31%;
  }
  .balloon1 {
    padding: 20px 15px 5px;
  }
  .work__img {
    max-width: 250px;
  }
  .work__content {
    width: 63%;
  }
  .work__text {
    margin-top: 78.5px;
  }
  .teacher__container {
    display: grid;
    grid-template-columns: repeat(3, 260px);
    gap: 70px 30px;
    justify-content: center;
  }
  .teacher__card {
    height: 410px;
  }
  .teacher__img {
    position: absolute;
    top: -5%;
    left: 10%;
    width: 80%;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
  }
  .teacher__name {
    margin-top: 15px;
  }
  .teacher__prof {
    position: absolute;
    bottom: 10%;
    left: 10%;
  }
  .work__catch {
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 1.1875;
    letter-spacing: 0em;
  }
  .work__title,
  .experience__title {
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0em;
  }
  .work__text {
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 2.18182;
    letter-spacing: 0em;
  }
  .balloon1 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0em;
  }
  .teacher__name {
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0em;
  }
  .teacher__content {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.625;
    letter-spacing: 0em;
  }
  .teacher__text {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 1.33333;
    letter-spacing: 0em;
  }
  .experience__inner {
    padding: 45px 0 95px;
  }
  .pattern {
    width: 35px;
    height: 35px;
  }
  .btn__experience {
    width: 380px;
  }
  .btn__experience > a {
    padding: 15px 0;
  }
  .check__margin {
    margin: 25px 0;
  }
  .experience__content {
    padding: 0 4vw;
  }
  .btn__experience > a {
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 1.14286;
    letter-spacing: 0em;
  }
  .check__item {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.55556;
    letter-spacing: 0em;
  }
  .experience__text {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 1.16667;
    letter-spacing: 0em;
  }
}

/* --------------------------------------
  レスポンシブ min-width: 1440px; 
  ----------------------------------------*/
@media screen and (min-width: 1440px) {
  .work__catch {
    margin-bottom: 100px;
  }
  .work__inner {
    max-width: 1200px;
    margin: 0 auto 130px;
  }
  .balloon1 {
    padding: 26px 15px 14px;
  }
  .balloon1::before {
    position: absolute;
    left: 32%;
    bottom: -40px;
  }
  .work__point {
    position: absolute;
    top: 8%;
    left: 26%;
  }
  .work__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 75px 0;
  }
  .check__item {
    display: flex;
  }
  .check__margin {
    margin: 30px 0;
  }
  .pattern {
    display: inline-block;
    width: 48px;
    height: 48px;
  }
  .experience__btn {
    margin-bottom: 50px;
  }
  .btn__experience {
    width: 480px;
  }
  .btn__experience > a {
    padding: 15px 0;
  }
  .work__title,
  .experience__title {
    font-size: 4.2rem;
    font-weight: bold;
    line-height: 1.33333;
    letter-spacing: 0em;
  }
  .work__text {
    font-size: 3.2rem;
    line-height: 1.75;
    letter-spacing: 0em;
  }
  .balloon1,
  .experience__text {
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 1.42857;
    letter-spacing: 0em;
  }
  .check__item {
    font-size: 3.6rem;
    line-height: 1.55556;
    letter-spacing: 0em;
  }
  .btn__experience > a {
    font-size: 3.6rem;
    font-weight: bold;
    line-height: 1.61111;
    letter-spacing: 0em;
  }
}

.faq__wrapper {
  max-width: 310px;
  margin: 30px auto 0;
}

.q__text {
  display: flex;
  justify-content: space-between;
  background-color: #EEFAFA;
  position: relative;
  padding: 14px 20px 14px 55px;
}

.q__text ::before {
  font-size: 2.4rem;
  line-height: 1;
  position: absolute;
  top: 33%;
  left: 4%;
  display: block;
  content: 'Q';
  color: #1666AD;
}

.a__text {
  display: none;
}

.a__text.active {
  display: block;
}

.a__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 14px 20px 14px 55px;
  position: relative;
}

.a__wrapper ::before {
  font-size: 2.4rem;
  line-height: 1;
  position: absolute;
  top: 33%;
  left: 4%;
  display: block;
  content: 'A';
  color: #DB403B;
}

.a__anthor__text {
  display: inline-block;
  text-align: center;
}

.faq__contact {
  margin-top: 35px;
}

.faq__text {
  text-align: center;
  margin-bottom: 15px;
}

.qa__flag {
  text-align: center;
}

.contact__main__btn > a {
  margin: 0 auto;
  display: block;
  text-align: center;
  background-color: #FFE669;
  padding: 20px 0;
  max-width: 270px;
  border-radius: 100px;
  color: #707070;
  position: relative;
  z-index: 1;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.11111;
  letter-spacing: 0em;
}

.q__text,
.a__text,
.faq__text {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.42857;
  letter-spacing: 0em;
  color: #707070;
}

.info__list {
  width: 300px;
  margin: 30px auto;
}

.info__item__wrapper {
  margin-bottom: 20px;
}

.info__content {
  margin-top: 15px;
  padding-bottom: 2%;
}

.info__item__wrapper {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0em;
  color: #707070;
}

.info {
  padding: 0 3vw;
  border-radius: 60px;
  color: #707070;
}

.info__notice {
  background-color: #00A2FF70;
}

.info__event {
  background-color: #FFD70070;
}

.info__topic {
  background-color: #0FE30070;
}

.info__border {
  height: 1px;
  position: relative;
}

.info__border::before {
  content: "";
  background-image: linear-gradient(to right, #707070, #707070 15px, transparent 15px, transparent 20px);
  background-size: 20px 2px;
  background-repeat: repeat-x;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* --------------------------------------
レスポンシブ min-width: 1024px; 
----------------------------------------*/
@media screen and (min-width: 1024px) {
  .faq__wrapper {
    max-width: 750px;
  }
  .q__text,
  .a__text,
  .faq__text {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 1.58333;
    letter-spacing: 0em;
  }
  .contact__main__btn {
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: 0em;
  }
  .faq__contact {
    margin-top: 100px;
  }
  .faq__text {
    text-align: center;
    margin-bottom: 25px;
  }
  .contact__main__btn > a {
    padding: 40px 0;
    max-width: 650px;
  }
}

.contact__bg {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/img/contact.jpg) no-repeat bottom/cover;
  object-fit: cover;
  height: 980px;
  position: relative;
}

.main__title {
  padding: 80px 0;
  background-color: #4DADED;
  color: #ffffff;
}

.main__title::before,
.main__title::after {
  border-top: 4px solid #ffffff;
  content: "";
  width: 90px;
}

.main__title::before {
  margin-right: 60px;
}

.main__title::after {
  margin-left: 60px;
}

.contact__text {
  max-width: 1300px;
  margin: 0 auto;
  padding: 170px 0 105px;
  text-align: center;
}

.contact__text {
  font-size: 4.8rem;
  font-weight: bold;
  line-height: 1.66667;
  letter-spacing: 0em;
  color: #ffffff;
}

.contact__main__btn {
  font-size: 4.8rem;
  font-weight: bold;
  line-height: 1.20833;
  letter-spacing: 0em;
  color: #707070;
}

/* --------------------------------------
レスポンシブ min-width: 1024px; 
----------------------------------------*/
@media screen and (min-width: 1024px) {
  .contact__bg {
    height: 80vh;
  }
  .main__title {
    padding: 40px 0;
  }
  .contact__text {
    max-width: 750px;
    padding: 7% 0 5%;
  }
  .contact__main__btn > a {
    padding: 30px 0;
    max-width: 600px;
  }
  .contact__text {
    font-size: 2.7rem;
    font-weight: bold;
    line-height: 2.22222;
    letter-spacing: 0em;
  }
  .contact__main__btn {
    font-size: 3.6rem;
    font-weight: bold;
    line-height: 1.27778;
    letter-spacing: 0em;
  }
}

/* --------------------------------------
レスポンシブ min-width: 600px; 
----------------------------------------*/
@media screen and (min-width: 600px) {
  .l-info__wrapper {
    padding: 45px 0 85px;
  }
  .info__list {
    max-width: 1210px;
    margin: 50px auto 0;
  }
  .info__item {
    display: flex;
    align-items: center;
    padding: 30px 0;
  }
  .info__border {
    height: 1px;
    position: relative;
  }
  .info__border::before {
    content: "";
    background-image: linear-gradient(to right, #707070, #707070 20px, transparent 20px, transparent 25px);
    background-size: 25px 1px;
    background-repeat: repeat-x;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .info__day {
    display: inline-block;
  }
  .info {
    display: inline-block;
    padding: 0 3vw;
    margin: 0 4vw 0 7vw;
    border-radius: 50px;
  }
  .info__content {
    display: inline-block;
  }
  .info__item {
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 1.875;
    letter-spacing: 0em;
    color: #707070;
  }
  .info__item > .info {
    color: #707070;
  }
  .info__notice {
    background-color: #00A2FF60;
  }
  .info__event {
    background-color: #FFD70060;
  }
  .info__topic {
    background-color: #0FE30060;
  }
  /* info ページ */
  .l-info-page__wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 78px;
  }
  .c-info__news {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    margin-bottom: 42px;
    width: 1525px;
    margin: 0 auto;
    padding: 32px 54px;
  }
  .info__img {
    max-width: 408px;
    height: 215px;
    object-fit: cover;
  }
  .news__content {
    width: 65%;
  }
  .news__date,
  .news__bage {
    margin-bottom: 13px;
  }
  .news__bage {
    margin-left: 36px;
  }
  .news__title {
    margin-bottom: 12px;
  }
  .news__text {
    text-align: justify;
  }
  .pagination__wrapper {
    text-align: center;
    margin-top: 22px;
  }
  .page__item {
    display: inline-block;
    padding: 14px 18px;
    margin-left: 24px;
    background-color: #ffffff;
    border: 1px solid #707070;
  }
  .news__date,
  .news__bage {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 0em;
  }
  .news__title {
    font-size: 4.8rem;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0em;
  }
  .news__text {
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 1.85714;
    letter-spacing: 0em;
  }
  .page__item {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 0em;
  }
}

/* --------------------------------------
レスポンシブ min-width: 1024px; 
----------------------------------------*/
@media screen and (min-width: 1024px) {
  .info__list {
    max-width: 750px;
    margin: 50px auto 0;
  }
  .info__item {
    padding: 20px 0;
  }
  .info {
    padding: 0 2vw;
  }
  .info__item {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0em;
  }
  /* info ページ */
  .news__date,
  .news__bage {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 0em;
  }
  .news__title {
    font-size: 3.6rem;
    font-weight: bold;
    line-height: 1.77778;
    letter-spacing: 0em;
  }
  .news__text {
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 2.36364;
    letter-spacing: 0em;
  }
}

/* --------------------------------------
レスポンシブ min-width: 1440px; 
----------------------------------------*/
@media screen and (min-width: 1440px) {
  /* info ページ */
  .l-info-page__wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 78px;
  }
  .c-info__news {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    margin-bottom: 42px;
    width: 1200px;
    margin: 0 auto;
    padding: 32px 54px;
  }
  .info__img {
    max-width: 408px;
    height: 215px;
    object-fit: cover;
  }
  .news__content {
    width: 65%;
  }
  .news__date,
  .news__bage {
    margin-bottom: 13px;
  }
  .news__bage {
    margin-left: 36px;
  }
  .news__title {
    margin-bottom: 12px;
  }
  .news__text {
    text-align: justify;
  }
  .pagination__wrapper {
    text-align: center;
    margin-top: 22px;
  }
  .page__item {
    display: inline-block;
    padding: 14px 18px;
    margin-left: 24px;
    background-color: #ffffff;
    border: 1px solid #707070;
  }
  .news__date,
  .news__bage {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 0em;
  }
  .news__title {
    font-size: 4.8rem;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0em;
  }
  .news__text {
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 1.85714;
    letter-spacing: 0em;
  }
  .page__item {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 0em;
  }
}

/* --------------------------------------
レスポンシブ min-width: 1920px; 
----------------------------------------*/
@media screen and (min-width: 1920px) {
  .l-info__wrapper {
    padding: 45px 0 85px;
  }
  .info__list {
    max-width: 1210px;
    margin: 50px auto 0;
  }
  .info__item {
    display: flex;
    align-items: center;
    padding: 30px 0;
  }
  .info__border {
    height: 1px;
    position: relative;
  }
  .info__border::before {
    content: "";
    background-image: linear-gradient(to right, #707070, #707070 20px, transparent 20px, transparent 25px);
    background-size: 25px 1px;
    background-repeat: repeat-x;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .info__day {
    display: inline-block;
  }
  .info {
    display: inline-block;
    padding: 0 3vw;
    margin: 0 4vw 0 7vw;
    border-radius: 50px;
  }
  .info__content {
    display: inline-block;
  }
  .info__item {
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 1.875;
    letter-spacing: 0em;
    color: #707070;
  }
  .info__item > .info {
    color: #707070;
  }
  .info__notice {
    background-color: #00A2FF60;
  }
  .info__event {
    background-color: #FFD70060;
  }
  .info__topic {
    background-color: #0FE30060;
  }
  /* info ページ */
  .l-info-page__wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 78px;
  }
  .c-info__news {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    margin-bottom: 42px;
    width: 1525px;
    margin: 0 auto;
    padding: 32px 54px;
  }
  .info__img {
    max-width: 408px;
    height: 215px;
    object-fit: cover;
  }
  .news__content {
    width: 65%;
  }
  .news__date,
  .news__bage {
    margin-bottom: 13px;
  }
  .news__bage {
    margin-left: 36px;
  }
  .news__title {
    margin-bottom: 12px;
  }
  .news__text {
    text-align: justify;
  }
  .pagination__wrapper {
    text-align: center;
    margin-top: 22px;
  }
  .page__item {
    display: inline-block;
    padding: 14px 18px;
    margin-left: 24px;
    background-color: #ffffff;
    border: 1px solid #707070;
  }
  .news__date,
  .news__bage {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 0em;
  }
  .news__title {
    font-size: 4.8rem;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0em;
  }
  .news__text {
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 1.85714;
    letter-spacing: 0em;
  }
  .page__item {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 0em;
  }
}

.form {
  width: 50%;
  margin: 0 auto;
}

.form-control {
  height: 60px;
}

.form__label {
  padding-left: 2.8rem;
}

.form__radio {
  width: 2.8rem;
  height: 2.8rem;
}

.contact-button {
  width: 30%;
  border-radius: 60px;
  border: 4px solid #707070;
  background-color: #FFE669;
}

.btn__form {
  padding: 20px 0 74px;
}

.form__badge {
  padding: 0 3%;
  margin-left: 2%;
  background-color: #FFE669;
  border-radius: 15px;
}

.btn__form,
.form__guid {
  text-align: center;
}

.form__text,
.textarea__bd {
  border: 1px solid #707070;
}

.form__text::placeholder {
  color: #AAAAAA;
}

.form-group {
  margin-bottom: 40px;
}

.form__title {
  margin-bottom: 14px;
}

.form__guid {
  margin-bottom: 50px;
}

.form__guid {
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0em;
  color: #707070;
}

.form__badge,
.form__title,
.form__label,
.form__text {
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0em;
  color: #707070;
}
/*# sourceMappingURL=style.css.map */