.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 3vw;
}
.copyright {
  padding: 15px 0;
  text-align: center;
}
.footer__logo {
  display: inline-block;
  padding-top: 15px;
}
.footer__logo {
  @include f_around(1.4, 2, bold, 0);
  color: #0A3355
}
.copyright {
  @include f_around(1.2, 1.8, false, 0);
  color: #707070;
}

/* --------------------------------------
レスポンシブ min-width: 600px; 
----------------------------------------*/
@include mq-up($breakpoint: sm) {
  .footer {
    padding: 10px 0;
  }
  .footer__logo {
    padding-top: 20px;
  }
}

/* --------------------------------------
レスポンシブ min-width: 1024px; 
----------------------------------------*/
@include mq-up($breakpoint: md) {
  .footer {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .footer__logo {
    display: inline-block;
    position: absolute;
    left: 2%;
    top: 15%;
    @include f_around(2.4, 3, bold, 0);
    color: #0A3355
  }
  .copyright {
    @include f_around(2.2, 2.4, false, 0);
  }
  .copyright {
    padding: 26px 0;
    text-align: center;
  }
  .footer__logo {
    position: absolute;
    left: 6%;
  }
}