
.header__wrapper {
  background-color: #ffffff;
  width: 100%;
  position: absolute;
  z-index: 2;
}
.header__wrapper.sticky {
  position: fixed;
  top: 0;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}
.header__logo {
  margin-left: 9vw;
  padding-left: 1vw;
  color: #0A3355;
}
.header__nav {
  padding-right: 2.3vw;
  margin-right: 6vw;
}
.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__item {
  margin-left: 36px;
  padding-bottom: 10px;
  > a {
    color: #707070;
  }
  :hover {
    opacity: .5;
    border-bottom: 7px solid #40ACE2;
  }
}

/* --------------------------------------
レスポンシブ max-width: 1920px; 
----------------------------------------*/
@include mq-up($breakpoint: lg) {
}

.header__logo {
  @include f_around(2.4, 3, bold, 0);
}
.header__item {
  @include f_around(3.2, 3.8, bold, 0);
}
.c-button {
  display: none;
}