/* --------------------------------------
レスポンシブ max-width: 1920px; 
----------------------------------------*/
@include mq-up($breakpoint: lg) {
  .l-section__wrapper {
    padding: 150px 0;
  }
  .section__title{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .section__title {
    @include f_around(5.6, 5.8, bold, 0);
    color: #707070;
  }
}