.contact__bg {
  // height: 980px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url(/img/contact.jpg) no-repeat bottom / cover;
  object-fit: cover;
  height: 300px;
  position: relative;
}
.main__title {
  padding: 20px 0;
  background-color: #4DADED;
  color: #ffffff;
}
.main__title::before,
.main__title::after {
  border-top: 4px solid #ffffff;
  content: "";
  width: 30px; 
}
.main__title::before {
  margin-right: 30px
}
.main__title::after {
  margin-left: 30px
}
.contact__text {
  // max-width: 1300px;
  // padding: 170px 0 105px;
  max-width: 300px;
  margin: 0 auto;
  padding: 40px 0 35px;
  text-align: center;
}
.contact__text {
  // @include f_around(4.8, 8, bold, 0);
  @include f_around(1.4, 2.8, bold, 0);
  color: #ffffff;
}
.contact__main__btn {
  @include f_around(4.8, 5.8, bold, 0);
  color: #707070;
}
.contact__main__btn {
  padding: 0 3vw;
  > a {
    margin: 0 auto;
    display: block;
    text-align: center;
    background-color: #FFE669;
    padding: 20px 0;
    max-width: 460px;
    border-radius: 100px;
    color: #707070;
    position: relative;
    z-index: 0;
    @include f_around(2, 3.2, bold, 0);
  }
}

/* --------------------------------------
レスポンシブ min-width: 600px; 
----------------------------------------*/
@include mq-up($breakpoint: sm) {
  .contact__bg {
    height: 700px;
    padding-top: 20%;
  }
  .contact__text {
    max-width: 590px;
    @include f_around(2.3, 3.2, bold, 0);
  }
  .contact__main__btn > a {
    @include f_around(3.2, 4.6, bold, 0);
  }
}

/* --------------------------------------
レスポンシブ min-width: 1024px; 
----------------------------------------*/
@include mq-up($breakpoint: md) {
  .contact__bg {
    padding-top: 10%;
  }
  .main__title {
    padding: 40px 0;
  }
  .contact__text {
    max-width: 950px;
    padding: 7% 0 5%;
  }
  .contact__main__btn > a {
    padding: 35px 0;
    max-width: 600px;
  }
  .contact__text {
    @include f_around(3.8, 6, bold, 0);
  }
  .contact__main__btn > a {
    @include f_around(4.2, 4.6, bold, 0);
  }
}

/* --------------------------------------
レスポンシブ min-width: 1920px; 
----------------------------------------*/
@include mq-up($breakpoint: xl) {
  .contact__bg {
    padding-top: 0;
  }
}