.faq__wrapper {
  max-width: 310px;
  // margin: 70px auto 0; 
  margin: 30px auto 0; 
}
.q__text {
  display: flex;
  justify-content: space-between;
  background-color: #EEFAFA;
  position: relative;
  // padding: 54px 40px 54px 115px;
  padding: 14px 20px 14px 55px;
  ::before {
    // font-size: 4.8rem;
    font-size: 2.4rem;
    line-height: 1;
    position: absolute;
    top: 33%;
    left: 4%;
    display: block;
    content: 'Q';
    color: #1666AD;
  }
}
.a__text {
  display: none;
}
.a__text.active {
  display: block;
}
.a__wrapper {
  display: flex;
  justify-content: space-between;
  // padding: 54px 40px 54px 115px;
  padding: 14px 20px 14px 55px;
  position: relative;
  ::before {
    // font-size: 4.8rem;
    font-size: 2.4rem;
    line-height: 1;
    position: absolute;
    top: 33%;
    left: 4%;
    display: block;
    content: 'A';
    color: #DB403B;
  }
}
.a__anthor__text {
  display: inline-block;
  text-align: center;
}
.faq__contact {
  // margin-top: 125px;
  margin-top: 35px;
}
.faq__text {
  text-align: center;
  // margin-bottom: 35px;
  margin-bottom: 15px;
}
.qa__flag {
  text-align: center;
}
.contact__main__btn {
  > a {
    margin: 0 auto;
    display: block;
    text-align: center;
    background-color: #FFE669;
    padding: 20px 0;
    max-width: 270px;
    border-radius: 100px;
    color: #707070;
    position: relative;
    z-index: 1;
    @include f_around(1.8, 2, bold, 0);
  }
}

.q__text,
.a__text,
.faq__text {
  // @include f_around(3.2, 3.8, bold, 0);
  @include f_around(1.4, 2, bold, 0);
  color: #707070;
}

.info__list {
  width: 300px;
  margin: 30px auto;
}
.info__item__wrapper {
  margin-bottom: 20px
}
.info__content {
  margin-top: 15px;
  padding-bottom: 2%;
}

.info__item__wrapper {
  @include f_around(1.4, 1.4, bold, 0);
  color: #707070;
}
.info {
  padding: 0 3vw;
  border-radius: 60px;
  color: #707070;
}
.info__notice {
  background-color: #00A2FF70;
}
.info__event {
  background-color: #FFD70070;
}
.info__topic {
  background-color: #0FE30070;
}
.info__border{
  height: 1px;
  position: relative;
}
.info__border::before {
  content: "";
  background-image: linear-gradient(to right, #707070, #707070 15px, transparent 15px, transparent 20px);
  background-size: 20px 2px;
  background-repeat: repeat-x;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* --------------------------------------
レスポンシブ min-width: 1024px; 
----------------------------------------*/
@include mq-up($breakpoint: md) {
  .faq__wrapper {
    max-width: 750px;
  }
  .q__text,
  .a__text,
  .faq__text {
    @include f_around(2.4, 3.8, bold, 0);
  }
  .contact__main__btn {
    @include f_around(4, 5, bold, 0);
  }
  .faq__contact {
    margin-top: 100px;
  }
  .faq__text {
    text-align: center;
    margin-bottom: 25px;
  }
  .contact__main__btn > a {
    padding: 40px 0;
    max-width: 650px;
  }
}