.l-info__wrapper {
  padding: 45px 0 85px;
}
.info__list {
  max-width: 1210px;
  margin: 50px auto 0;
}
.info__item {
  display: flex;
  align-items: center;
  padding: 30px 0;
  border-bottom: dashed 2px #707070;
}
.info__day {
  display: inline-block;

}
.info {
  display: inline-block;
  padding: 0 35px;
  margin: 0 4vw 0 7vw;
  border-radius: 50px;
}
.info__content {
  display: inline-block
}


.info__item {
  @include f_around(3.2, 6.0, bold, 0);
  color: #707070;
  > .info {
    color: #707070;
  }
}
.info__notice {
  background-color: #00A2FF60;
}
.info__event {
  background-color: #FFD70060;
}
.info__topic {
  background-color: #0FE30060;
}


/* info ページ */
.l-info__container {
  max-width: 1525px;
  margin: 0 auto;
}
.l-info-page__wrapper {
  display: flex;
  flex-direction: column;
}    
.c-info__news {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  margin-bottom: 42px;
  padding: 32px 120px 32px 54px;
}
.info__img {
  width: 408px;
  height: 215px;
  object-fit: cover;
}
.news__content {
  width: 840px;
}
.news__date,
.news__bage {
  margin-bottom: 13px;
}
.news__title {
  margin-bottom: 12px;
  // text-align: justify;
}
.news__text {
  width: 840px;
  text-align: justify;
}


.news__date,
.news__bage {
  @include f_around(2.4, 4.8, bold, 0);
}
.news__title {
  @include f_around(4.8, 7.2, bold, 0);
}
.news__text {
  @include f_around(2.8, 5.2, bold, 0);
}
