  .l-info__wrapper {
    padding: 0 0 85px;
  }
  .info__list {
    max-width: 1210px;
    margin-top: 50px;
    padding: 0 3vw;
  }
  .info__item__wrapper {
    margin: 0 auto 20px;
  }
  .info__border {
    height: 1px;
    position: relative;
  }
  .info__border::before {
    content: "";
    background-image: linear-gradient(to right, #707070, #707070 20px, transparent 20px, transparent 25px);
    background-size: 25px 1px;
    background-repeat: repeat-x;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .info__day {
    display: inline-block;
  }
  .info {
    display: inline-block;
    padding: 0 15px;
    margin: 0 25px 0 25px;
    border-radius: 50px;
  }
  .info__content {
    margin-top: 10px;
    display: inline-block;
  }


  .info__item {
    @include f_around(1.6, 3.0, bold, 0);
    color: #707070;
    > .info {
      color: #707070;
    }
  }
  .info__info {
    background-color: #00A2FF60;
  }
  .info__event {
    background-color: #FFD70060;
  }
  .info__topic {
    background-color: #0FE30060;
  }

  /* info ページ */
  .main__title {
    padding: 120px 0 20px;
  }
  .l-info-page__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 3vw 78px;
  }    
  .c-info__news > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    max-width: 600px;
    margin: 0 auto 70px;
    padding: 32px 2vw;
    color: #000000;
    &:hover {
      opacity: .6;
    }
  }
  .info__img {
    max-width: 800px;
    height: 215px;
    object-fit: cover;
  }
  .news__content {
    padding: 0 3vw;
  }
  .news__date,
  .news__bage {
    margin-bottom: 13px;
  }
  .news__bage {
    margin-left: 36px;
  }
  .news__title {
    margin-bottom: 12px;
  }
  .news__text {
    text-align: justify;
  }
  .pagination__wrapper {
    text-align: center;
    margin-top: 22px;
  }
  .page__item,
  .page__current {
    display: inline-block;
    padding: 14px 18px;
    margin-left: 24px;
    background-color: #ffffff;
    border: 1px solid #707070;
  }
  .page__item {
    &:hover {
      opacity: .6;
    }
    > a {
      color: #000000;
    }
  }


  .news__date,
  .news__bage {
    @include f_around(2.4, 4.8, bold, 0);
  }
  .news__title {
    @include f_around(2.8, 5.2, bold, 0);
  }
  .news__text {
    @include f_around(2, 3.2, bold, 0);
  }
  .page__item,
  .page__current {
    @include f_around(2.4, 4.8, bold, 0);
  }

/* --------------------------------------
レスポンシブ min-width: 600px; 
----------------------------------------*/
@include mq-up($breakpoint: sm) {
  .l-info__wrapper {
    padding: 0 0 45px;
  }
  .info {
    padding: 0 15px;
    margin: 0 35px 0 35px;
  }
  .info__list {
    margin: 30px 5vw 0;
    padding: 0 3vw;
  }
  .info__item {
    display: flex;
    align-items: center;
    padding: 20px 0 10px;
  }  

  .main__title {
    padding: 120px 0 40px;
    background-color: #4DADED;
    color: #ffffff;
  }
  .main__title::before,
  .main__title::after {
    border-top: 4px solid #ffffff;
    
  }
}

/* --------------------------------------
レスポンシブ min-width: 1024px; 
----------------------------------------*/
@include mq-up($breakpoint: md) {
  .info__list {
    margin: 50px 10vw 0;
  }
  .info__item {
    @include f_around(2, 3, bold, 0);
  }
  
  /* info ページ */
  .main__title {
    padding: 140px 0 40px;
  }
  .c-info__news > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto 70px;
    padding: 32px 2vw;
  }
  .info__img > img {
    width: 300px;
    height: 215px;
    object-fit: cover;
  }
  .news__date,
  .news__bage {
    @include f_around(2, 3, bold, 0);
  }
  .news__title {
    @include f_around(2.8, 4.4, bold, 0);
  }
  .news__text {
    @include f_around(2.2, 3.2, bold, 0);
  }
}


/* --------------------------------------
レスポンシブ min-width: 1440px; 
----------------------------------------*/
@include mq-up($breakpoint: lg) {
  .info__list {
    margin: 50px 15vw 0;
  }
  .info__img > img {
    width: 400px;
    height: 215px;
    object-fit: cover;
  }
  
  .news__date,
  .news__bage {
    @include f_around(1.8, 2.8, bold, 0);
  }
  .news__title {
    @include f_around(3, 5.2, bold, 0);
  }
  .news__text {
    @include f_around(2.1, 3.2, bold, 0);
  }
  .page__item,
  .page__current {
    @include f_around(2.4, 4.8, bold, 0);
  }
}

/* --------------------------------------
レスポンシブ min-width: 1920px; 
----------------------------------------*/
@include mq-up($breakpoint: xl) {
  .l-info__wrapper {
    padding: 45px 0 85px;
  }
  .info__list {
    max-width: 1210px;
    margin: 50px auto 0;
  }
  .info__item {
    display: flex;
    align-items: center;
    padding: 30px 0;
  }
  .info__border {
    height: 1px;
    position: relative;
  }
  .info__border::before {
    content: "";
    background-image: linear-gradient(to right, #707070, #707070 20px, transparent 20px, transparent 25px);
    background-size: 25px 1px;
    background-repeat: repeat-x;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .info__day {
    display: inline-block;
  }
  .info {
    display: inline-block;
    border-radius: 50px;
  }
  .info__content {
    display: inline-block;
  }
  
  
  .info__item {
    @include f_around(2.4, 5.0, bold, 0);
    color: #707070;
    > .info {
      color: #707070;
    }
  }
  .info__info {
    background-color: #00A2FF60;
  }
  .info__event {
    background-color: #FFD70060;
  }
  .info__topic {
    background-color: #0FE30060;
  }
  
  
  /* info ページ */
  .c-info__news > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1510px;
  }

  .news__date,
  .news__bage {
    @include f_around(2.4, 4.8, bold, 0);
  }
  .news__title {
    @include f_around(4.8, 7.2, bold, 0);
  }
  .news__text {
    @include f_around(2.8, 5.2, bold, 0);
  }
  .page__item,
  .page__current {
    @include f_around(2.4, 4.8, bold, 0);
  }
}

