.service__relative {
  position: relative;
}
.service__catch {
  width: 310px;
  margin: 0 auto;
  text-align: center;
  margin-top: 15px;
  color: #707070;
}
.service__img {
  width: 270px;
  // height: 627px;
  box-shadow: 18px 24px 6px #00000016;
  > img {
    object-fit: cover;
    object-position: 50%;
  }
}
.section__title::before,
.section__title::after {
  border-top: 4px solid #707070;
  content: "";
  width: 40px; 
}
.section__title::before {
  margin-right: 30px
}
.section__title::after {
  margin-left: 30px
}
.service__inner {
  padding: 30px 0 50px;
}
.service__course {
  max-width: 310px;
  margin: 0 auto;
  padding: 30px 5% 30px;
  border: 1px solid #4DADED;
}

.reverse__text {
  margin-left: auto;
}
.service__title__wrapper {
  position: relative;
  display: flex; 
  align-items: flex-end;
  padding: 5% 0 0 11%;
  border-bottom: 1px solid #707070;
}
.service__num {
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}
.service__title {
  align-items: flex-end
}
.service__sub__title {
  width: 90%;
  margin-top: 3%;
  padding-left: 2vw;
}
.service__text {
  margin-top: 14px;
  padding-left: 2vw;
}
.btn__section {
  margin: 25px;
  > a{
    display: block;
    text-align: center;
    width: 200px;
    padding: 2vw 0;
    border-radius: 50px;
    background-color: #FFE669;
    box-shadow: 6px 8px 6px #00000017;
    margin: 0 15% 0 auto;
  }
}
.service__line {
  max-width: 260px;
  height: 30px;
  margin-top: 60px;
  background: linear-gradient(to left, #C1E3F9, #63A1FF);
}
.line__reverse {
  margin-left: auto;
  background: linear-gradient(to right, #C1E3F9, #63A1FF);
}
.btn__course {
  text-align: center;
  > a {
    display: inline-block;
    width: 260px;
    padding: 20px 0;
    border: 1px solid #707070;
    border-radius: 60px;
    color: #707070;
  }
}

/* service ページ */
.l-service__wrapper {
  background-color: #F7FBFE;
  padding-bottom: 96px 0 30px;
}
.l-service__inner {
  background-color: #ffffff;
  margin-bottom: 100px;
  padding: 50px 0;
}
.l-service__content {
  display: flex;
  align-items: center;
}
.l-service__sub-content {
  padding: 0 60px;
}
.page__map {
  margin: 32px 0 32px 25px;
}
.service__item {
  max-width: 640px;
  margin-left: 60px;
}
.service__content__title,
.service__content__sub-title {
  display: inline-block;
  padding-bottom: 10px;
}
.service__content__title {
  border-bottom: 4px solid #4DADED;
  margin-bottom: 48px;
}
.service__img {
  width: 270px;
  height: 175px;
  object-fit: cover;
  margin: 0 5% 0 auto;
}  
.service__content__sub-title {
  border-bottom: 1px solid #4DADED;
  margin-bottom: 24px;
}
.service__content__text {
  margin-bottom: 52px;
  text-align: justify;
}
.btn__service {
  text-align: center;
  > a {
    display: inline-block;
    width: 35%;
    padding: 10px 0;
    border-radius: 100px;
    color: #707070;
    background-color: #FFE669;
  }
}

.page__map {
  @include f_around(2.0, 3.0, bold, 0);
  color: #707070;
}
.btn {
  @include f_around(1.8, 3, false, 0);
  .btn > a {
    color: #707070;
  }
}
.btn__section {
  > a {      
    @include f_around(2, 2.8, bold, 0);
    color: #707070;
  }
}
.service__catch {
  @include f_around(1.4, 2.5, false, 30);
}  
.service__num {
  @include f_around(2.8, 4.2, bold, 0);
  color: #006EFF;
  opacity: 16%;
}
.service__title {
  @include f_around(2, 4, bold, 0);
  color: #4DADED;
}
.service__sub__title,
.service__content__sub-title {
  @include f_around(1.8, 2.8, bold, 0);
  color: #707070;
}
.service__text,
.service__content__text {
  @include f_around(1.6, 2.5, false, 0);
  color: #707070;
}
.service__content__title {
  @include f_around(4.8, 5.8, false, 0);
  color: #707070;
}


/* --------------------------------------
レスポンシブ min-width: 600px; 
----------------------------------------*/
@include mq-up($breakpoint: sm) {
  .service__catch {
    width: 550px;
  }
  .service__inner {
    padding: 40px 0 70px;
  }
  .service__course {
    max-width: 80%;
    margin: 0 0 auto;
    padding: 15px 6vw 0 3vw;
  }
  .service__title__wrapper {
    width: 80%;
    padding: 11% 0 0 11%;
  }
  .service__img {
    position: absolute;
    right: -25%;
    bottom: -25%;
    z-index: 0;
    width: 250px;
    height: 350px;
  }
  .reverse {
    margin-left: auto;
    margin-right: 0;
  }
  .reverse__text {
    width: 80%;
  }
  .absolute__reverse {
    position: absolute;
    left: -18%;
    bottom: -25%;
    margin: auto 0 0;
    z-index: 0;
  }
  .service__line {
    max-width: 50%;
    height: 45px;
    margin-top: 35px;
  }
  .btn__reverse {
    > a{
      margin: 0 0 0 auto;
    }
  }
  .btn__course > a {
    width: 450px;
    padding: 10px 0;
    @include f_around(2.2, 3, bold, 0);
  } 
  .service__catch {
    @include f_around(1.8, 4, false, 30);
  }
  .service__num {
    @include f_around(5.2, 12.4, bold, 0);
  }
  .service__title {
    @include f_around(2.6, 4.7, bold, 0);
  }
  .service__sub__title {
    @include f_around(2, 3, bold, 0);
  }
}

/* --------------------------------------
レスポンシブ min-width: 1024px; 
----------------------------------------*/
@include mq-up($breakpoint: md) {
  .section__catch__wrapper {
    padding-bottom: 0px;
  }
  .service__course {
    max-width: 80%;
  }
  .service__title__wrapper {
    width: 80%;
    padding: 10% 0 0 12%;
  }
  .service__img {
    position: absolute;
    right: -20%;
    bottom: -17%;
    z-index: 0;
    width: 327px;
    height: 426px;
    margin: 0;
  }
  .reverse__text {
    width: 80%;
  }
  .absolute__reverse {
    position: absolute;
    left: -22%;
    bottom: -20%;
    z-index: 0;
  }
  .service__line {
    max-width: 50%;
    height: 65px;
    margin-top: 35px;
  }
  
  .btn__course > a {
    width: 650px;
    padding: 25px 0;
    font-size: 32px;
  } 
  .service__catch {
    @include f_around(2.4, 5, false, 30);
  }
  .service__num {
    @include f_around(8.2, 13.4, bold, 0);
  }
  .service__title {
    @include f_around(3.6, 5.7, bold, 0);
  }
  .service__sub__title,
  .service__content__sub-title {
    @include f_around(2.6, 3.6, bold, 0);
    color: #707070;
  }
  .service__text,
  .service__content__text {
    @include f_around(2.1, 3.4, false, 0);
    color: #707070;
  }
  .service__content__title {
    @include f_around(3.8, 4.8, false, 0);
    color: #707070;
  }
  .btn__section {
    margin-top: 25px;
    > a{
      padding: 1vw 1.5vw;
      margin: 0 auto;
      @include f_around(2.2, 4.0, bold, 0);
    }
  }
}


/* --------------------------------------
レスポンシブ min-width: 1440px; 
----------------------------------------*/
@include mq-up($breakpoint: lg) {
  .service__course {
    max-width: 960px;
  }
  .servie__img {
    position: absolute;
    right: -35%;
    bottom: -10%;
    z-index: 0;
    width: 427px;
    height: 526px;
  }
  .service__title__wrapper {
    padding: 9% 0 0 13%;
  }
  .service__line {
    max-width: 700px;
  }
  
  .btn__section {
    > a { 
      margin: 0 auto;
    }
  }     
  .btn__section {
    > a {      
      @include f_around(2.2, 2.8, bold, 0);
    }
  }
  .service__catch {
    @include f_around(2.8, 5.5, false, 30);
  }  
  .service__num {
    @include f_around(9.8, 11.4, bold, 0);
  }
  .service__title {
    @include f_around(4.6, 4.7, bold, 0);
  }
  .service__sub__title,
  .service__content__sub-title {
    @include f_around(3.2, 3.8, bold, 0);
  }
  .service__text,
  .service__content__text {
    @include f_around(2.8, 4.5, false, 0);
  }
  .service__content__title {
    @include f_around(3.8, 4.8, false, 0);
  }
  .btn__service {
    > a {
      @include f_around(3.0, 5.0, bold, 0);
    }
  }
}

/* --------------------------------------
レスポンシブ min-width: 1920px; 
----------------------------------------*/
@include mq-up($breakpoint: xl) {
  .service__relative {
    position: relative;
  }
  .service__catch {
    width: 310px;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
    color: #707070;
  }
  .section__title::before,
  .section__title::after {
    border-top: 4px solid #707070;
    content: "";
    width: 90px; 
  }
  .section__title::before {
    margin-right: 60px
  }
  .section__title::after {
    margin-left: 60px
  }
  .service__inner {
    max-width: 1685px;
    padding: 72px 0 50px;
  }
  .service__course {
    max-width: 1320px;
    // height: 620px;
    padding: 75px 5% 53px;
    border: 1px solid #4DADED;
  }
  
  .service__course {
    max-width: 1320px;
    // height: 620px;
    padding: 75px 5% 53px;
    border: 1px solid #4DADED;
  }
  
  
  .service__num {
    @include f_around(11.2, 13.4, bold, 0);
    color: #006EFF;
    opacity: 16%;
  }
  .service__title__wrapper {
    position: relative;
    display: flex; 
    align-items: flex-end;
    width: 90%;
    padding: 5% 0 0 11%;
    border-bottom: 1px solid #707070;
  }
  .service__sub__title {
    width: 90%;
    margin-top: 34.5px;
    padding-left: 2vw;
  }
  .service__text {
    width: 90%;
    margin-top: 28px;
    padding-left: 2vw;
  }
  .service__item {
    max-width: 300px;
  }
  .service__img {
    position: absolute;
    right: -30%;
    bottom: -30%;
    z-index: 0;
    width: 40%;
    // height: 627px;
    box-shadow: 18px 24px 6px #00000016;
    > img {
      object-fit: cover;
      object-position: 50%;
    }
  }
  .service__img {
    width: 800px;
    height: 475px;
    object-fit: cover;
    margin: 0 5% 0 auto;
  }  
  .absolute__reverse{
    position: absolute;
    left: -30%;
    bottom: -30%;
    z-index: 0;
  }
  .btn__section {
    margin-top: 25px;
    > a{
      display: block;
      text-align: center;
      width: 20vw;
      padding: 2vw 0;
      border-radius: 50px;
      background-color: #FFE669;
      box-shadow: 6px 8px 6px #00000017;
      margin: 0 15% 0 auto;
    }
  }
  .service__line {
    max-width: 960px;
    height: 80px;
    margin-top: 63px;
    background: linear-gradient(to left, #C1E3F9, #63A1FF);
  }
  .line__reverse {
    margin-left: auto;
    background: linear-gradient(to right, #C1E3F9, #63A1FF);
  }
  .btn__course {
    text-align: center;
    margin-top: 110px;
    > a {
      display: inline-block;
      width: 900px;
      padding: 35px 0;
      border: 1px solid #707070;
      border-radius: 60px;
      color: #707070;
    }
  }
  
  
  .service__sub__title,
  .service__content__sub-title {
    @include f_around(4.0, 4.8, bold, 0);
    color: #707070;
  }
  .service__text,
  .service__content__text {
    @include f_around(3.2, 5.5, false, 0);
    color: #707070;
  }
  .btn__section {
    > a {      
      @include f_around(3.2, 3.8, bold, 0);
      color: #707070;
    }
  }  
}

  
