
.l-work__wrapper {
  padding: 50px 0 0;
  background-color: #F7FBFE;
}
.work__catch {
  padding: 0 2vw;
  margin-bottom: 30px;
}
.work__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 150px 0 70px;
}
.work__content {
  width: 310px;
  margin: 20px auto 0;
}
.work__img {
  max-width: 300px;
  height: auto;
  margin: 0 auto;
}
.work__text {
  margin-top: 10px;
}
.work__point {
  position: absolute;
  top: 1%;
  left: 30%;
}
.balloon1{
  position: relative;
  padding: 20px;
  border-radius: 50%;
  text-align: center;
  background-color: #FFE669;
}
.balloon1::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 35%;
  bottom: -45px;
  border-right: 40px solid #FFE669;
  border-top: 45px solid transparent;
  border-bottom: 45px solid transparent;
  transform: rotate(-90deg);
}
.work__point__text {
  display: block;
}
.check__item {
  display: flex;
  align-items: center;
}

.teacher__wrapper {
  background-color: #ffffff;
  box-shadow: 0 3px 20px #00000016;
  padding: 50px 0 50px;
  // padding: 80px 0 120px;
  // margin-bottom: 135px;
  margin-bottom: 45px;
}
.teacher__text {
  text-align: center;
  padding: 50px 0;
}
.teacher__img {
  position: absolute;
  top: -30px;
  left: 10px;
  width: 270px;
  height: auto;
  object-fit: cover;
  margin: 0 auto;
}
.teacher__prof {
  margin-top: 85%;
  text-align: center;
}
.teacher__container {
  display: flex;
  flex-direction: column;
}
.teacher__card {
  position: relative;
  background-color: #F7FBFE;
  box-shadow: 0 0 12px #00000016;
  width: 290px;
  margin: 40px auto 30px;
  height: 470px;
}
// .teacher__card {
//   position: relative;
//   background-color: #F7FBFE;
//   box-shadow: 0 0 12px #00000016;
//   height: 470px;
// }
.teacher__name {
  margin-top: 10px;
  text-align: center;
}
// .teacher__name {
//   margin-top: 30px;
//   text-align: center;
// }
.teacher__content {
  text-align: center;
  padding: 25px 0;
}


.experience__inner {
  position: relative;
  background-color: #4DADED;
  // padding: 85px 0 125px;
  padding: 25px 0 45px;
}
.experience__inner:after{
  content: "";
  position: absolute;
  right: 0;
  // bottom: -45px;
  bottom: -30px;
  left: 0;
  width: 0px;
  height: 0px;
  margin: auto;
  border-style: solid;
  border-color: #4DADED transparent transparent transparent;
  border-width: 60px 100px 0 100px;
}
.experience__title {
  text-align: center;
  // margin-bottom: 50px;
  margin-bottom: 20px;
}
.experience__content {
  display: flex;
  // justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 0 2vw;
}
.experience__check {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px
}
.check__margin {
  // margin: 70px 0;
  margin: 10px 0;
}
.experience__btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.experience__text {
  text-align: center;
  margin-bottom: 9px;
}
.btn__experience {
  text-align: center;
  // width: 680px;
  width: 300px;
  background-color: #FFE669;
  border-radius: 50px;
  > a {
    // padding: 30px 0;
    padding: 15px 0;
    display: block;
  }
}
.pattern {
  width: 30px;
  height: 30px;
  margin-right: 2vw
}  
  
  .balloon1 {
    @include f_around(3.6, 4, bold, 0);
    color: #707070;
  }
  .work__catch {
    @include f_around(2.4, 3.6, bold, 0);
  }
  .work__title {
    @include f_around(1.9, 2.0, bold, 0);
    color: #4DADED;
  }
  .work__text {
    @include f_around(1.6, 2.4, false, 0);
    color: #707070;
  }
  .teacher__text,
  .teacher__name {
    @include f_around(1.8, 2.8, bold, 0);
    color: #707070;
  }
  // .teacher__text,
  // .teacher__name {
  //   @include f_around(3.2, 3.8, bold, 0);
  //   color: #707070;
  // }

  .teacher__content {
    @include f_around(1.8, 2, bold, 0);
    color: #707070;
  }
  .experience__title {
    @include f_around(2.6, 4.7, bold, 0);
    color: #ffffff;
  }
  .check__item {
    @include f_around(2.2, 2.4, bold, 0);
    color: #ffffff;
  }
  .experience__text {
    @include f_around(1.4, 1.4, bold, 0);
    color: #ffffff;
  }
  .btn__experience > a {
    @include f_around(2.2, 2.8, bold, 0);
    color: #707070;
  }
  
  /* --------------------------------------
  レスポンシブ min-width: 600px; 
  ----------------------------------------*/
  @include mq-up($breakpoint: sm) {
    .work__inner {
      padding-bottom: 65px;
    }
    .work__item {
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: flex-end;
      padding: 35px 0;
    }
    .work__img {
      max-width: 200px;
    }
    .work__content {
      width: 360px;
    }
    .work__text {
      margin-top: 20px;
    }
    .work__point {
      position: absolute;
      top: 20%;
      left: 34%;
    }
    .balloon1 {
      padding: 10px;
      position: relative;
    }
    .balloon1::before {
      content: '';
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      left: 30%;
      bottom: -30px;
      border-right: 30px solid #FFE669;
      border-top: 30px solid transparent;
      border-bottom: 30px solid transparent;
    }
    .pattern {
      width: 28px;
      height: 28px;
    }

    .work__catch {
      @include f_around(2.2, 3.6, bold, 0);
    }
    .work__title {
      @include f_around(2.2, 4.8, bold, 0);
    }
    .work__text  {
      @include f_around(1.8, 3.8, bold, 0);
    }
    .balloon1 {
      @include f_around(2, 3, bold, 0);
    }
    

    .teacher__wrapper {
      width: 580px;
      margin: 0 auto 70px;
    }
    .teacher__container {
      display: grid;
      grid-template-columns: repeat(3, 28%);
      gap: 40px 20px;
      justify-content: center;
    }
    .teacher__card {
      width: 100%;
      height: 300px;
      margin: 40px 0 0;
    }
    .teacher__img {
      position: absolute;
      top: -5%;
      left: 4%;
      width: 150px;
      height: auto;
      object-fit: cover;
      margin: 0 auto;
    }
    .teacher__name {
      margin-top: 5px;
    }
    .teacher__text {
      padding: 20px 15vw 10px;
    }
    .teacher__name {
      @include f_around(1.6, 2, bold, 0);
    }
    .teacher__content {
      @include f_around(1.2, 2, bold, 0);
    }
    .check__item {
      @include f_around(1.8, 3, bold, 0);
    }
    .experience__title {
      @include f_around(2.8, 3.8, bold, 0);
    }
    .experience__text {
      @include f_around(1.6, 2, bold, 0);
      margin-bottom: 5px;
    }
    .btn__experience {
      margin-bottom: 45px;
      > a {
        @include f_around(2.2, 3.2, bold, 0);
        padding: 7px 0;
      }
    }
    .experience__content {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }
  }

  /* --------------------------------------
  レスポンシブ min-width: 1020px; 
  ----------------------------------------*/
  @include mq-up($breakpoint: md) {
    .work__inner {
      margin-bottom: 130px;    
      max-width: 950px;
      margin: 0 auto 130px;
    }
    .work__text  {
      margin-top: 45px
    }
    .work__content {
      width: 55%;
    }
    .work__item {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 75px 0;
    }
    .work__item {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 75px 0;
    }
    .balloon1::before {
      position: absolute;
      display: block;
      left: 33%;
      bottom: -34px;
      border-right: 30px solid #FFE669;
      border-top: 30px solid transparent;
      border-bottom: 30px solid transparent;
    }
    .work__point {
      position: absolute;
      top: 2%;
      left: 31%;
    }
    .balloon1 {
      padding: 20px 15px 5px;
    }
    .work__img {
      max-width: 250px;
    }
    .work__content {
      width: 63%;
    }
    .work__text {
      margin-top: 78.5px;
    }


    .teacher__container {
      display: grid;
      grid-template-columns: repeat(3, 260px);
      gap: 70px 30px;
      justify-content: center;
    }
    .teacher__card {
      height: 410px;
    }
    .teacher__img {
      position: absolute;
      top: -5%;
      left: 10%;
      width: 80%;
      height: auto;
      object-fit: cover;
      margin: 0 auto;
    }
    .teacher__name {
      margin-top: 15px;
    }
    .teacher__prof {
      position: absolute;
      bottom: 10%;
      left: 10%;
    }
    .work__catch {
      @include f_around(3.2, 3.8, bold, 0);
    }
    .work__title,
    .experience__title {
      @include f_around(3.2, 4.8, bold, 0);
    }
    .work__text  {
      @include f_around(2.2, 4.8, bold, 0);
    }
    .balloon1 {
      @include f_around(2, 3, bold, 0);
    }
    .teacher__name {
      @include f_around(2.2, 2.2, bold, 0);
    }
    .teacher__content {
      @include f_around(1.6, 2.6, bold, 0);
    }
    .teacher__text {
      @include f_around(2.4, 3.2, bold, 0);
    }

    .experience__inner {
      padding: 45px 0 95px;
    }
    .pattern {
      width: 35px;
      height: 35px;
    }
    .btn__experience {
      width: 380px;
    }
    .btn__experience > a {
      padding: 15px 0;
    }
    .check__margin {
      margin: 25px 0;
    }
    .experience__content {
      padding: 0 4vw;
    }

    .btn__experience > a {
      @include f_around(2.8, 3.2, bold, 0);
    }
    .check__item {
    // @include f_around(2.8, 3.8, bold, 0);
    @include f_around(1.8, 2.8, bold, 0);
    }
    .experience__text {
      @include f_around(2.4, 2.8, bold, 0);
    }
  }
  
  /* --------------------------------------
  レスポンシブ min-width: 1440px; 
  ----------------------------------------*/
  @include mq-up($breakpoint: lg) {
    .work__catch {
      margin-bottom: 100px;
    }
    .work__inner {
      max-width: 1200px;
      margin: 0 auto 130px;
    }
    .balloon1{
      padding: 26px 15px 14px;
    }
    .balloon1::before{
      position: absolute;
      left: 32%;
      bottom: -40px;
    }
    .work__point {
      position: absolute;
      top: 8%;
      left: 26%;
    }
    .work__item {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 75px 0;
    }


    .check__item {
      display: flex;
    }
    .check__margin {
      margin: 30px 0;
    }
    .pattern {
      display: inline-block;
      width: 48px;
      height: 48px;
    }
    .experience__btn {
      margin-bottom: 50px;
    }
    .btn__experience {
      width: 480px;
      >a {
        padding: 15px 0;
      }
    }
    
    .work__title,
    .experience__title {
      @include f_around(4.2, 5.6, bold, 0);
    }
    .work__text{
      @include f_around(3.2, 5.6, false, 0);
    }
    .balloon1,
    .experience__text {
      @include f_around(2.8, 4, bold, 0);
    }
    .check__item {
      @include f_around(3.6, 5.6, false, 0);
    }
    .btn__experience > a {
      @include f_around(3.6, 5.8, bold, 0);
    }
  }